@font-face {
    font-family: RozhaOne;
    src: url(../css/fonts/RozhaOne-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Rufina;
    src: url(../css/fonts/Rufina/Rufina-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Rufina;
    src: url(../css/fonts/Rufina/Rufina-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: AmaticSC;
    src: url(../css/fonts/Amatic_SC/AmaticSC-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: AmaticSC;
    src: url(../css/fonts/Amatic_SC/AmaticSC-Bold.ttf);
    font-weight: bold;
}